.ejopack-modules * {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

	.row:after,
	.module:after {
		content: "";
		display: table;
		clear: both;
	}

		.module {
			width: 100%;
			float: left;
			background-color: #fff;
			border: 1px solid #e5e5e5;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
			display: table;
		}

		.module.empty {
			background-color: transparent;
			border: none;
			box-shadow: none;
		}

		.module.active {
			border-left: none;
			/*background-color: #f7fcfe;*/
		}

			.module.active .module-check {
				border-left: 4px solid #2ea2cc;
				padding-left: 10px;
			}

			.module > div {
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.module-check {
				display: table-cell;
				padding-left: 14px;
				/*padding-right: 6px;*/
			}	
			
			.module-info {
				display: table-cell;
				width: 100%;
			}

			.module label {
				display: block;
				font-size: 14px;
				line-height: 1.4;
				font-weight: 600;
				margin-bottom: 0.2em;
			}

			.module p {
				margin: 0 0 0.2em;
			}

			.module p:last-child {
				margin-bottom: 0;
			}


/* Columns style */
.row {
	margin-bottom: 10px;
}

.columns-2 .module {
	float: left;
	width: 49.5%;
	margin-right: 1%;
}

.columns-3 .module {
	float: left;
	width: 32%;
	margin-right: 2%;
}

.columns-4 .module {
	width: 24%;
	margin-right: 1.33333%;
}

.columns-2 .module:last-child,
.columns-3 .module:last-child,
.columns-4 .module:last-child {
	margin-right: 0;
}